body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/*Header*/

header {
    background-image: url(img/banner.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #1ec542;
}

.main__title {
    margin: 0 40px 0 0;
    color: #fff;
}

.main__title h1 {
    font-family: 'Pacifico', cursive;
}

.pointer {
    color: #1ec542;
}

.main__title ul {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.main__title ul li {
    list-style: none;
    padding: 15px;
    background-color: rgba(35, 42, 44, 0.5);
    margin: 5px;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
}

.main__title ul li:hover {
    background-color: rgba(15, 199, 76, 0.582)
}

.main__image__header {
    align-self: flex-end;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.main__image__header img {
    width: 350px;
    padding: 0;
    align-self: flex-end;
}


/*Main*/

main {
    width: 100%;
    height: auto;
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div {
    padding: 20px;
    margin: 0 5px;
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
}

main div span {
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: bold;
}

main div img {
    border-radius: 100%;
    background-color: rgba(15, 199, 76, 0.582);
    transition: 1s;
    padding: 15px;
}

main div img:hover {
    background-color: rgba(80, 235, 132, 0.582);
}


/*Section*/

.contato {
    display: flex;
    background-color: rgb(230, 227, 227);
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.contato {
    color: #333;
}

.contato p {
    max-width: 400px;
}

.contato input {
    width: 250px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin: 0;
}

.contato button {
    width: 80px;
    margin: -5px;
    padding: 12px;
    background-color: rgba(19, 168, 69, 0.582);
    color: #fff;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.contato button:hover {
    background-color: rgba(80, 235, 132, 0.582);
}

.contato div iframe {
    border-radius: 15px;
}


/*Depoimentos*/

.depoimentos {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.depoimentos p {
    font-style: italic;
    color: #a09e9e;
    width: 70%;
}

.depoimentos ul {
    display: flex;
    list-style: none;
    margin: 30px;
}

.depoimentos ul li {
    margin: 5px;
    border-radius: 5px;
}

.depoimentos h5 {
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    background-color: rgba(172, 172, 172, 0.582);
    border-radius: 100px !important;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.social li:hover {
    background-color: rgba(19, 168, 69, 0.582);
}

.social img {
    width: 30px;
}


/*Footer*/

footer {
    padding: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 227, 227);
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

footer ul li:hover {
    background-color: rgba(19, 168, 69, 0.582);
    color: #fff;
}

@media (max-width: 1150px) {
    main {
        flex-wrap: wrap;
    }
    .main__title {
        align-self: center;
        justify-self: center;
    }
    .main__title h1,
    p {
        text-align: center;
    }
    .main__title ul {
        justify-content: center;
    }
    .hand {
        display: none;
    }
    .contato {
        flex-wrap: wrap;
    }
    .contato .video iframe {
        margin: 30px 0;
        width: 400px;
    }
    .pessoas li {
        display: none;
    }
}